@import url("https://fonts.googleapis.com/css?family=Cinzel|Lora|PT+Serif");

* {
    box-sizing: border-box;
}

.header {
    background-color:  #e6e6e6;
    color:#e6e6e6;
}

.column{
    float: center;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
  height: 100%
}

.menu {
    width: auto;
}

.content {
    width: auto;
    align-content: center;
    padding-left: 10rem;
}

#banner_img{
	   width:100%;
     height:auto;
}

.menu ul {
    list-style-type: none;
    margin: 14px;
    padding: 5px;
    align-content: center;
}

.menu li {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 9px;
    background-color: #ffffff;
    color: #6f0000;
}

.accordion {
    background-color: #ffdab4;
    color: #6f0000;
    cursor: pointer;
    padding: 15px;
    margin-top: 10px;
    margin-bottom:auto;
    margin-left: 10%;
    width: 84%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    align: center;
    text-align: center;
    align-items: center;
    float: center;
}

.panel {
    padding: 0 18px;
    margin-bottom:10px;
    margin-left: 10%;
    display: none;
    width: 84%;
    background-color: white;
    overflow: hidden;
    float: center;
    align-items: center;
}

.menu li:hover {
    background-color: #ffecd8;
}

.active, .accordion:hover {
    background-color: #ffffff;
}

.accordion:after {
    content: '\002B';
    color: #ffffd8;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.container {
  display: grid;
  padding-top: 20px;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 15px;
}

.menu li{
  font-family:"Cinzel", serif;
  font-size:15px;
}

.accordion {
  font-family:"Cinzel" , serif;
  font-size:15px;
}

footer {
  color: #141414;
  padding: 15px;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

html{
  font-size: 12px;
  font-size: 18px;
}

a{
  font-family:'Cinzel', serif;
  text-decoration: none;
  font-size: 18px;
}

img{
  max-width: 100%;
  border-radius: 5px;
}

h2{
  font-family:'Cinzel' , serif;
  text-align: center;
}

h3 {
  font-family:'Lora', serif;
  text-align: center;
  font-size: 16px;
}

h4 {
  font-family:'Cinzel', serif;
  text-align: center;
  font-size: 15px;
}

h5 {
  font-family:'Cinzel', serif;
  text-align: center;
  font-size: 15px;
}

p {
  font-family: 'Lora', serif;
  font-size: 14px;
  text-align: justify
}

li a{
  font-family: 'Cinzel', serif;
  font-size: 15px;
}

li{
  font-family: 'Lora', serif;
  font-size: 14px;
}

br {
  font-family: 'Cinzel', serif;
  font-size: 12px;
}

ul {
  font-family: 'Cinzel', serif;
  font-size: 15px;
  text-align:center
}

button{
  font-family: 'Cinzel', serif;
  font-size: 15px;
  text-align:center
}

figure {
  font-family: 'PT Serif', serif;
  font-size: 10px;
  text-align: center;
}

body {
  background-color: #f5f5ef;
  font-family:'Playfair Display', serif;
}

figure {
  float:right;
  width: 50%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

img.scaled {
  width: 100%;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
